/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: white;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about-section {
    padding: 40px 0;
}

.about-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-section ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.q{
    width: 100%;
}

.h{
    height:45px;
    width: 180px;
    margin-left:-20px;
    
}

.f{
    margin-left: 1000px;
    height: 20px;
    width: 20px;
    }

    .l{
        margin-left: 1000px;
        }